.skillsName {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.skillsCard {
    background-color: rgb(20, 27, 36);
    height: 100%;
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .skillsName {

        font-size: 12px;

    }
}