.achievementContainer {
    display: flex;
}

.achievementImg {
    margin-right: 10px;
}

@media screen and (max-width: 1024px) {
    .achievementContainer {
        flex-direction: column;
    }

    .achievementImg {
        margin-right: 0px;
        margin-bottom: 20px;
    }
}