.mailContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyrightText {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.mailForm {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .mailContainer {
        flex-direction: column;
    }

    .mailForm {
        width: 100%;
    }
}