.articleCard {
    height: 250px;
    text-decoration: none;
}

.articleCard img {
    height: 180px;
}

.articleName {
    font-family: "Raleway", sans-serif;
    color: #151515;
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.readMore {
    font-family: "Raleway", sans-serif;
    color: #a5a4a4;
    font-size: 14px;
    bottom: -20px;
    left: 0px;
    right: 15px;
    position: absolute;
    /* Fix it to bottom */
}