.articleCard {
    height: 250px;
}

.articleName {
    font-family: "Raleway", sans-serif;
    color: #151515;
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;
}

.readMore {
    font-family: "Raleway", sans-serif;
    color: #a5a4a4;
    font-size: 14px;
    margin-top: -20px;
}