.homeName {
    font-family: cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    line-height: 2.5rem;
    color: #223C61;
}

.homeName:hover {
    color: #223C61;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
    padding: 8px;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.offcanvas-header .btn-close:focus,
.offcanvas-header .btn-close:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.homeLink {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(12, 9, 9);
    margin-left: 25px;
}

.navbar-custom {
    background-color: transparent;

}

.navbar-custom.scrolled {
    background-color: white;

}

@media screen and (max-width: 768px) {
    .homeName {
        font-size: 12px;
    }
}