.AboutMeContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    scroll-margin-top: 200px;
}

.AboutMeDescription {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    line-height: 28px;
    width: 90%;
}

@media screen and (max-width: 768px) {
    .AboutMeContainer {
        flex-direction: column;
    }

    .AboutMeDescription {
        width: 100%;
    }
}